.post-title-description {
  margin: 2em 0 4em;
  font-size: 18px;
  max-width: 50%;
}

.above-topic-image-wrapper {
  height: 25px;

  .above-topic-image {
    position: absolute;
    z-index: -1;
    width: 400px;
    top: -15px;
    left: 60%;
  }
}

